%h1.text-center CAMPHOR-feeds/admin

.row
  .col-12
    .card{style: 'margin: 5px;'}
      %h5.card-header
        Feedを追加する
      .card-body
        %form{action: '/admin/source_feeds', method: 'POST', enctype: 'multipart/form-data'}
          .form-group
            %label{for: 'source-feed-icon'}
              Feed icon image (jpg/png, max 5MB)
            %input.form-control-file{type: 'file', id: 'source-feed-icon', name: 'source_feed_icon'}
          .form-group
            %label{for: 'source-feed-url'}
              Feed url (e.g. https://blog.camph.net/feed/)
            %input.form-control{name: 'source_feed_url', id: 'source-feed-url'}
          .form-group
            %button.btn.btn-primary{type: 'submit'}
              送信

.row{style: 'margin-top: 20px;'}
  - @feeds.each do |feed|
    .col-12
      .card.text-center.flex-row.flex-wrap{style: 'margin: 5px;'}
        .row{style: 'width: 100%;'}
          .col-lg-3.col-md-3.col-sm-3
            %img.img-fluid{src: feed.icon_url, style: 'max-width: 100%; height: auto;'}
          .col-lg-9.col-md-9.col-sm-9
            .card-body.px-2
              %h5.card-title
                %a{href: feed.feed_url}
                  = feed.feed_url
              .card-text.text-right
                %form{action: "/admin/source_feed/#{feed.feed_id}", method: 'POST'}
                  %input{type: 'hidden', name: '_method', value: 'DELETE'}
                  %button.btn.btn-danger{type: 'submit'}
                    削除